.title
 {
    text-align: center;
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(to right,#095fab 10%, #25abe8 50%, #57d75b 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
}
body
{
  background-image: url("C:\Users\dhanush balaji\Desktop\covid_project\covid_project\public\background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* Form */
.form{
  background: rgb(0, 101, 219);
  background: linear-gradient(90deg, rgb(0,101,219) 30%, rgba(0, 212, 255, 1) 100%);
}

.style {
  
  font-family: "Montserrat";
  text-align: center;
  color: #FFF;
  display: flex;
  letter-spacing: 1px;
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  background-clip: text;
  text-transform: uppercase;
  font-size: 36px;
  line-height: .75;
  margin: 10px 0;
}
/* styling my button */

#home{
  background-color: #141114;
  background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

h2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
  );
  
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 1em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}
  
/*for covid data*/
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Open+Sans+Condensed:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');
.covidData {
  background-color: rgb(231, 242, 248);
  width: 40%;
  margin: auto;
  margin-top: 15px;
  border-radius: 6px;
  padding: 10px;
}
  .enter
  {
    font-family: 'Noto Serif Display', serif;
    text-align: center;
    margin: auto;
    align-self: center;
  }

  
.covidData__form {
  padding: 10px;
  margin: 20px;
  
}
.covidData__input input {
  width: 80%;
  height: 80%;
  text-align: center;
  font-size: 18px;
  font-family:Lucida Console, Geneva, Tahoma, sans-serif;
}
.covidData__input button {
  width: 50%;
  
  margin-top: 10px;
  background-color: rgb(245, 210, 210);
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none;
 align-self: center;
  cursor: pointer;
}
  
  
.covidData__country__info {
  font-size: 20px;
  font-family: Open Sans Condensed, sans-serif;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding-left: 10px;
  background-color: white;
  margin-top: 20px;
  padding: 2px;
  box-shadow: 5px 5px 5px rgb(241, 236, 236);
}
.covid_data_title
{
 text-transform: uppercase;
 text-align: center;
background-image: linear-gradient(
  -225deg,
  #231557 0%,
  #44107a 29%,
  #ff1361 67%,
  #fff800 100%
);
background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #fff;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: textclip 2s linear infinite;
font-size: 25px;
margin-top: 2%;

}

@keyframes textclip {
to {
  background-position: 200% center;
}
}
.spread
{
font-family: 'Noto Serif Display', serif;
text-align: justify;
padding:80px;
background-color: rgb(216, 241, 211);
}


.cont {
position: relative;
font-family: sans-serif;
text-transform: uppercase;
font-size: 1em;
letter-spacing: 4px;
overflow: hidden;
background: linear-gradient(90deg, #000, #fff, #000);
background-repeat: no-repeat;
background-size: 80%;
animation: animate 10s linear infinite;
background-clip: text;
-webkit-text-fill-color: rgba(231, 145, 145, 0);
}

@keyframes animate {
0% {
  background-position: -500%;
}
100% {
  background-position: 500%;
}
}

.Covid_data_Submit
{
  align-self: center;
  top: 50%;
left: 50%;
}